.array-container {
    position: relative;
    bottom:0px;
}
  
.array-bar {
    background-color: #FDCA40;
    width: 5px;
    display: inline-block; /* arranges the array bars in horizontal way*/
    margin: 0 2px; /*Top,Bottom -> 0px Left,Right -> 1px*/
}


.main_algo_head{
    color: rgb(248, 238, 225);
    padding-left: 63px;
}

.main_button {
    background-color: #F79824; 
    border: none;
    color: #EAF0F1;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    outline: 0;
    display: block; /* Make the buttons appear below each other */
    font: 15px "Century Gothic", Futura, sans-serif;
    margin-left: 52px;
}


.main_button:not(:last-child) {
    border-bottom: none; /* Prevent double borders */
}

.buttons  {
    background-color: #9E2A2B; 
    border: none;
    color: #EAF0F1;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    outline: 0;
    display: block; /* Make the buttons appear below each other */
    font: 15px "Century Gothic", Futura, sans-serif;
    width: 130px;
    margin-left: 60px;
}
.buttons :not(:last-child) {
    border-bottom: none; /* Prevent double borders */
}

